.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 3px;
}

.container{
  display: flex;
  width: 100vw;
}

.col{
  background-color: antiquewhite;
  width:100%;
}